<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/header.ejs') %>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <h1>Product Edit Page</h1>
    <form action="/products/<%=product.id%>/?_method=PUT" method="POST">
      Name:
      <input
        type="text"
        name="name"
        id="name"
        value="<%=product.name%>"
      /><br />
      Description:
      <textarea name="description" id="description">
<%= product.description %></textarea
      ><br />
      <label>
        <input type="checkbox" name="finishedProduct" id="finishedProduct"<% if (product.finishedProduct === true) { %> checked
          <% } %> />
        <span>Did you finish this product?</span>
        </label><br>
      If you finished it, How long did it last?
      <input
        type="text"
        name="timeLasted"
        id="timeLasted"
        value="<%=product.timeLasted%>"
      /><br />
      <input type="text" id="isFavorite">
      <input type="submit" value="Edit Product Log" id="button"/>
    </form>
  </body>
</html>
