<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <h3><%= product.name %></h3>
    <h4>How I felt about this product</h4>
    <p><%= product.description %></p>
    <% if (product.finishedProduct === true) { %>
    <p>I finished this product</p>
    <% } else { %>
    <p>I did not finish this product</p>
    <% } %> <% if (product.timeLasted === true) { %>
    <p>I finished this product in <%= product.timeLasted %></p>
    <% } %>
  </body>
</html>
