<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Show Page</title>
  </head>
  <body>
    <h1><%= product.name %></h1>
    <ul>
      <li><%= product.description %></li>
      <li><%= product.finishedProduct %></li>
      <li><%= product.timeLasted %></li>
      <li><%= product.addToFavorites %></li>
    </ul>
  </body>
</html>
